.main-info{
  background-color: lightgray;
  border-bottom: 1px solid blue;
}
.main-heading{
  text-align: center;
  padding-top: 100px;
  font-size: 3.5vw;
  font-family: Oleo Script Swash Caps;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color:blue;
  font-weight: bold;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.5px;
}
.concert-info{
  text-align: center;
  font-size: 2vw;
  font-family: Oleo Script Swash Caps;
  color: black;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 70px;
  font-weight: bold;
}
.time-place{
  padding-top: 50px;
}
.mat-typography .text-right {
  text-align: right !important;
}
.controlButtons {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the buttons */
  margin-top: 20px;
}

.cancel-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}

.continue-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
  align-items: right;
}

h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

