<div class="main">
    <div class="card">
      <h1>Izmena rezervacije</h1>
      <h2>Vaša rezervacija:</h2>
        <p><b>Koncert: </b>{{ reservation.Concert.Name}} </p>
        <p><b>Grad održavanja: </b> {{ reservation.Concert.City }}</p>
        <p><b>Lokacija održavanja: </b>{{ reservation.Concert.Location }}</p>
        <p><b>Datum rezervacije: </b>{{reservation.ReservationDate|customDate }}</p>
        <p><b>Ime: </b>{{ reservation.Customer.FirstName }}</p>
        <p><b>Prezime: </b>{{ reservation.Customer.LastName }}</p>
        <p><b>Email: </b>{{ reservation.Customer.Email }}</p>

        <div class="flex-container">
        <div class="ticket-table">
          <h2>Pregled karata:</h2>
        <table>
          <thead>
            <tr>
              <th>Izabrana zona</th>
              <th>Cena karte</th>
              <th>Broj karata</th>
              <th>Obrisi karte</th>
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let ticket of tickets; let i = index">
              <td>{{ ticket.ZoneData.Name || ticket.ZoneData.name}}</td>
              <td>{{ticket.ZoneData.Price || ticket.ZoneData.price}}</td>
              <td>{{ ticket.Quantity }}</td>
              <td><button class="delete-button" (click)="deleteTicket(i)"><mat-icon>clear</mat-icon></button></td>

          </tbody>
        </table>
      </div>
        <div class="form-group col-12" [formGroup]="zoneForm">
          <div class="select-wrapper">
            <label for="zoneId">Zona sedenja</label>
            <select class="form-control" formControlName="zoneId" (change)="onZoneSelected()">
              <option value=''>Zona sedenja</option>
              <option *ngFor="let zone of zones" [value]="zone.zoneId">
                {{ zone.name }} | {{ zone.price }} din
              </option>
            </select>
            <div class="error-block" *ngIf="zoneForm.controls['zoneId'].invalid && zoneForm.controls['zoneId'].touched">
              Molimo Vas da izaberete zonu
            </div>
          </div>

          <div class="select-wrapper">
            <label for="numberOfCards">Broj karata u zoni:</label>
            <input type="number" class="form-control" formControlName="numberOfCards" (input)="updateTotalAmount()">
            <div class="error-block" *ngIf="zoneForm.controls['numberOfCards'].invalid && zoneForm.controls['numberOfCards'].touched">
              Molimo Vas da unesete broj karata
            </div>
          </div>

          <div class="button-wrapper">
            <button (click)="handleAddAndCalculate()">Dodajte karte</button>
          </div>
       </div>
      </div>
       <label class="totalAmount "for="totalAmount"><b>UKUPNO:</b></label>
       <span>{{ totalAmount }}</span>
       <div class="controlButtons">
         <button class="cancel-button" (click)="onBack()">Otkaži</button>
         <button class="change-button" (click)="updateReservation()">Izmeni</button>
       </div>
  </div>
  </div>
